{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}
<link rel="stylesheet" href="/static/css/index.css">

{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1200x400/?phone,about" class="d-block w-100 mx-0" alt="...">
</div>


<section class="about-us">
    <div class="about">
      <!--<img src="girl.png" class="pic">-->
      <div class="text">
        <h2>About Us</h2>
        <h5>Our Mobile shop in Delhi ,Malviya Nagar which name is Danish Communication you can easyly find on google map</h5>
          <p>We done all services which has mentioned in our website so this website is for those people who so far from my shop and they want to take our service benefits then they can contact us through fill the contact form and also you can directly mail us or whatsapp us our contact details are mentioned on contact us page</p>
        <div class="data">
        <a href="/contact" class="hire">Contact Us</a>
        </div>
      </div>
    </div>
  </section>
       


{% endblock body %}